@use "sass:meta";
@use "sass:selector";
@use "../lib/mixin";
@use "../settings";

/*
Font family

The font-family module.

Weight: -88

Style guide: #{settings.$util-prefix}.font-family
*/

/*
Modifiers

The font-family modifiers .

Weight: -100

Markup: <p class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, <b class="#{settings.$prefix}-text  #{settings.$prefix}-text--inline-true  #{settings.$prefix}-text--weight-bold">consectetur adipiscing elit</b>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p class="#{settings.$prefix}-text  {{modifier_class}}">あのイーハトーヴォのすきとおった風、<b class="#{settings.$prefix}-text  #{settings.$prefix}-text--inline-true  #{settings.$prefix}-text--weight-bold">夏でも底に冷たさをもつ青いそら</b>、うつくしい森で飾られたモーリオ市、郊外のぎらぎらひかる草の波。</p>

#{settings.$util-prefix}--font-family-default - Default.
#{settings.$util-prefix}--font-family-monospace - Monospace.
sm:#{settings.$util-prefix}--font-family-monospace - Monospace font family if viewport is `"sm"`.
not-sm:#{settings.$util-prefix}--font-family-monospace - Monospace font family if viewport is not `"sm"`.

Style guide: #{settings.$util-prefix}.font-family.builtin
*/
.#{settings.$util-prefix}--font-family {
  $presets: settings.$font-family-presets;

  @each $name, $font-family in $presets {
    &-#{$name} {
      --font-family: #{$font-family};

      font-family: var(--font-family);
    }

    @each $bp, $query in settings.$breakpoints {
      @if meta.type-of($query) == "string" {
        $selector: selector.replace(
          #{&},
          #{&},
          ".#{$bp}\\:#{settings.$util-prefix}--font-family"
        );

        @at-root {
          #{$selector}-#{$name} {
            @include mixin.media($query: $query) {
              --font-family: #{$font-family};

              font-family: var(--font-family);
            }
          }
        }
      }
    }
  }
}
