@use "sass:map";
@use "sass:meta";
@use "sass:selector";
@use "../lib/mixin";
@use "../settings";

/// Package name
/// @access private
/// @type String
///
$_pkg: settings.$pkg !default;

/*
Font weight

The font-weight module.

Weight: -86

Style guide: #{settings.$util-prefix}.font-weight
*/

/*
Modifiers

The font-weight modifiers .
+ The breakpoint prefixes can be specified like as `sm:#{settings.$util-prefix}--font-weight-medium`.

Weight: -100

Markup: <p class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p class="#{settings.$prefix}-text  {{modifier_class}}">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーリオ市、郊外のぎらぎらひかる草の波。</p>

#{settings.$util-prefix}--font-weight-thin - Thin font weight.
#{settings.$util-prefix}--font-weight-extra-light - Extra light font weight.
#{settings.$util-prefix}--font-weight-light - Light font weight.
#{settings.$util-prefix}--font-weight-regular - Regular font weight.
#{settings.$util-prefix}--font-weight-medium - Medium font weight.
#{settings.$util-prefix}--font-weight-semi-bold - Semi bold font weight.
#{settings.$util-prefix}--font-weight-bold - Bold font weight.
#{settings.$util-prefix}--font-weight-extra-bold - Extra bold font weight.
#{settings.$util-prefix}--font-weight-black - Black font weight.

Style guide: #{settings.$util-prefix}.font-weight.builtin
*/
.#{settings.$util-prefix}--font-weight {
  $presets: settings.$font-weight-presets;

  @each $name, $font-weight in $presets {
    &-#{$name} {
      --font-weight: var(--#{$_pkg}-font-weight-#{$name});

      font-weight: var(--font-weight);
    }

    @each $bp, $query in settings.$breakpoints {
      @if meta.type-of($query) == "string" {
        $selector: selector.replace(
          #{&},
          #{&},
          ".#{$bp}\\:#{settings.$util-prefix}--font-weight"
        );

        @at-root {
          #{$selector}-#{$name} {
            @include mixin.media($query: $query) {
              --font-weight: var(--#{$_pkg}-font-weight-#{$name});

              font-weight: var(--font-weight);
            }
          }
        }
      }
    }
  }
}
