@use "sass:meta";
@use "sass:selector";
@use "../lib/mixin";
@use "../settings";

/*
Hidden

The hidden module.

Weight: -100

Style guide: #{settings.$util-prefix}.hidden
*/

/*
Modifiers

The hidden modifiers.

Weight: -100

Markup: <div class="hidden-example {{modifier_class}}"></div>
<style>
  :where(.hidden-example) {
    position: relative;
    width: 50px;
    height: 50px;
    background: #999;
  }
</style>

#{settings.$util-prefix}--hidden - Hidden element.
sm:#{settings.$util-prefix}--hidden - Hidden  element if viewport is `"sm"`.
not-sm:#{settings.$util-prefix}--hidden - Hidden element if viewport is not `"sm"`.

Style guide: #{settings.$util-prefix}.hidden.builtin
*/
.#{settings.$util-prefix}--hidden {
  --display: none;

  display: var(--display);

  @each $bp, $query in settings.$breakpoints {
    @if meta.type-of($query) == "string" {
      $selector: selector.replace(
        #{&},
        #{&},
        ".#{$bp}\\:#{settings.$util-prefix}--hidden"
      );

      @at-root {
        #{$selector} {
          @include mixin.media($query: $query) {
            --display: none;

            display: var(--display);
          }
        }
      }
    }
  }
}
