@use "sass:math";
@use "sass:meta";
@use "sass:list";
@use "sass:selector";
@use "../lib/function";
@use "../lib/mixin";
@use "../settings";

/*
Margin

The margin module.

Weight: -96

Style guide: #{settings.$util-prefix}.margin
*/

/*
Modifiers

The margin modifiers.
Sizes: #{meta.inspect(settings.$util-margin)}.
Direction: #{meta.inspect(settings.$util-directions)}.

Weight: -100

Markup: <div class="margin-example {{modifier_class}}"></div>
<style>
  :where(.margin-example) {
    position: relative;
    width: 50px;
    height: 50px;
    background: #999;
  }
</style>

#{settings.$util-prefix}--margin-0 - All 0px margin
#{settings.$util-prefix}--margin-_50 - All -50px margin
#{settings.$util-prefix}--margin-50 - All 50px margin
#{settings.$util-prefix}--margin-normal - All normal margin
#{settings.$util-prefix}--margin-top-0 - Top 0px margin
#{settings.$util-prefix}--margin-top-_50 - Top -50px margin
#{settings.$util-prefix}--margin-top-50 - Top 50px margin
#{settings.$util-prefix}--margin-top-normal - Top normal margin
#{settings.$util-prefix}--margin-right-0 - Right 0px margin
#{settings.$util-prefix}--margin-right-_50 - Right -50px margin
#{settings.$util-prefix}--margin-right-50 - Right 50px margin
#{settings.$util-prefix}--margin-right-normal - Right normal margin
#{settings.$util-prefix}--margin-bottom-0 - Bottom 0px margin
#{settings.$util-prefix}--margin-bottom-_50 - Bottom -50px margin
#{settings.$util-prefix}--margin-bottom-50 - Bottom 50px margin
#{settings.$util-prefix}--margin-bottom-normal - Bottom normal margin
#{settings.$util-prefix}--margin-left-0 - Left 0px margin
#{settings.$util-prefix}--margin-left-_50 - Left -50px margin
#{settings.$util-prefix}--margin-left-50 - Left 50px margin
#{settings.$util-prefix}--margin-left-normal - Left normal margin
#{settings.$util-prefix}--margin-block-0 - Block 0 margin
#{settings.$util-prefix}--margin-block-_50 - Block -50px margin
#{settings.$util-prefix}--margin-block-50 - Block 50px margin
#{settings.$util-prefix}--margin-block-normal - Block normal margin
#{settings.$util-prefix}--margin-inline-0 - Inline 0 margin
#{settings.$util-prefix}--margin-inline-_50 - Inline -50px margin
#{settings.$util-prefix}--margin-inline-50 - Inline 50px margin
#{settings.$util-prefix}--margin-inline-normal - Inline normal margin
sm:#{settings.$util-prefix}--margin-50 - All 50px margin if viewport is `"sm"`.
not-sm:#{settings.$util-prefix}--margin-50 - All 50px margin if viewport is not `"sm"`.

Style guide: #{settings.$util-prefix}.margin.builtin
*/
.#{settings.$util-prefix}--margin {
  $margins: list.join(settings.$util-margin, ("auto"));
  $directions: settings.$util-directions;

  @each $margin in $margins {
    $name: "";

    // stylelint-disable scss/no-duplicate-dollar-variables
    @if meta.type-of($margin) == "list" {
      $name: list.nth($margin, 1);
      $margin: list.nth($margin, 2);
    } @else if $margin == "auto" {
      $name: $margin;
    } @else {
      $name: function.math-remove-unit($margin);

      @if $margin < 0 {
        $name: "_#{math.abs($name)}";
      }
    }
    // stylelint-enable scss/no-duplicate-dollar-variables

    @each $direction in $directions {
      $direction: if($direction == "", $direction, "-#{$direction}");

      &#{$direction}-#{$name} {
        --margin#{$direction}: #{$margin};

        margin#{$direction}: var(--margin#{$direction});
      }

      @each $bp, $query in settings.$breakpoints {
        @if meta.type-of($query) == "string" {
          $selector: selector.replace(
            #{&},
            #{&},
            ".#{$bp}\\:#{settings.$util-prefix}--margin"
          );

          @at-root {
            #{$selector}-#{$name} {
              // stylelint-disable-next-line max-nesting-depth
              @include mixin.media($query: $query) {
                --margin#{$direction}: #{$margin};

                margin#{$direction}: var(--margin#{$direction});
              }
            }
          }
        }
      }
    }
  }
}
