@use "sass:meta";
@use "sass:list";
@use "../lib/function";
@use "../lib/mixin";
@use "../settings";

/*
Padding

The padding module.

Weight: -95

Style guide: #{settings.$util-prefix}.padding
*/

/*
Modifiers

The padding modifiers.
Sizes: #{meta.inspect(settings.$util-padding)}.
Direction: #{meta.inspect(settings.$util-directions)}.

Weight: -100

Markup: <div class="padding-example {{modifier_class}}"></div>
<style>
  :where(.padding-example) {
    position: relative;
    width: 50px;
    height: 50px;
    background: #999;
  }
</style>

#{settings.$util-prefix}--padding-0 - All 0px padding
#{settings.$util-prefix}--padding-50 - All 50px padding
#{settings.$util-prefix}--padding-normal - All normal padding
#{settings.$util-prefix}--padding-top-0 - Top 0px padding
#{settings.$util-prefix}--padding-top-50 - Top 50px padding
#{settings.$util-prefix}--padding-top-normal - Top normal padding
#{settings.$util-prefix}--padding-right-0 - Right 0px padding
#{settings.$util-prefix}--padding-right-50 - Right 50px padding
#{settings.$util-prefix}--padding-right-normal - Right normal padding
#{settings.$util-prefix}--padding-bottom-0 - Bottom 0px padding
#{settings.$util-prefix}--padding-bottom-50 - Bottom 50px padding
#{settings.$util-prefix}--padding-bottom-normal - Bottom normal padding
#{settings.$util-prefix}--padding-left-0 - Left 0px padding
#{settings.$util-prefix}--padding-left-50 - Left 50px padding
#{settings.$util-prefix}--padding-left-normal - Left normal padding
#{settings.$util-prefix}--padding-block-0 - Block 0px padding
#{settings.$util-prefix}--padding-block-50 - Block 50px padding
#{settings.$util-prefix}--padding-block-normal - Block normal padding
#{settings.$util-prefix}--padding-inline-0 - Inline 0px padding
#{settings.$util-prefix}--padding-inline-50 - Inline 50px padding
#{settings.$util-prefix}--padding-inline-normal - Inline normal padding
#{settings.$util-prefix}--padding-50-if-mobile - All 50px padding if mobile viewport.
#{settings.$util-prefix}--padding-50-if-not-mobile - All 50px padding if not mobile viewport.

Style guide: #{settings.$util-prefix}.padding.builtin
*/
.#{settings.$util-prefix}--padding {
  $paddings: settings.$util-padding;
  $directions: settings.$util-directions;

  @each $padding in $paddings {
    $name: "";

    // stylelint-disable scss/no-duplicate-dollar-variables
    @if meta.type-of($padding) == "list" {
      $name: list.nth($padding, 1);
      $padding: list.nth($padding, 2);
    } @else {
      $name: function.math-remove-unit($padding);
    }
    // stylelint-enable scss/no-duplicate-dollar-variables

    @each $direction in $directions {
      $direction: if($direction == "", $direction, "-#{$direction}");

      &#{$direction}-#{$name} {
        --padding#{$direction}: #{$padding};

        padding#{$direction}: var(--padding#{$direction});
      }

      @each $bp, $query in settings.$breakpoints {
        @if meta.type-of($query) == "string" {
          &#{$direction}-#{$name}-#{$bp} {
            @include mixin.media($query: $query) {
              --padding#{$direction}: #{$padding};

              padding#{$direction}: var(--padding#{$direction});
            }
          }
        }
      }
    }
  }
}
