@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-icon

The icon unit.

Weight: -1100

Style guide: #{settings.$prefix}-icon
*/

/*
Core

The core module.

Weight: -100

Style guide: #{settings.$prefix}-icon.core
*/

/*
Default style

The default style.

Weight: -100

Markup: <span class="#{settings.$prefix}-icon"></span>

Style guide: #{settings.$prefix}-icon.core.default
*/
.#{settings.$prefix}-icon {
  $pkg: settings.$pkg;

  --transform-origin: 0 0;
  --transform: none;
  --overflow: hidden;
  --font-size: var(--#{$pkg}-font-size);
  --font-weight: var(--#{$pkg}-font-weight);
  --font-style: normal;
  --line-height: var(--#{$pkg}-line-height);
  --text-align: left;
  --text-decoration: none;
  --text-indent: -100%;
  --letter-spacing: var(--#{$pkg}-letter-spacing);
  --white-space: normal;
  --vertical-align: baseline;

  transform-origin: var(--transform-origin);
  transform: var(--transform);

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  line-height: var(--line-height);
  text-align: var(--text-align);
  text-decoration: var(--text-decoration);
  text-indent: var(--text-indent);
  letter-spacing: var(--letter-spacing);
  white-space: var(--white-space);
  vertical-align: var(--vertical-align);
}
