@use "../../settings";

/*
Inline

The inline module.

Weight: -98

Style guide: #{settings.$prefix}-input.inline
*/

/*
Modifiers

The inline modifiers.

Weight: -100

Markup: <!-- input -->
<input class="#{settings.$prefix}-input  #{settings.$prefix}-input--theme-normal  {{modifier_class}}" type="text" name="{{modifier_class}}" value="" placeholder="Lorem ipsum dolor sit amet." />
<!-- input:disabled -->
<input class="#{settings.$prefix}-input  #{settings.$prefix}-input--theme-normal  {{modifier_class}}" type="text" name="{{modifier_class}}" value="" placeholder="あのイーハトーヴォのすきとおった風。" disabled="disabled" />
<!-- textarea -->
<textarea class="#{settings.$prefix}-input  #{settings.$prefix}-input--theme-normal  {{modifier_class}}" name="{{modifier_class}}" rows="5" cols="10" placeholder="Lorem ipsum dolor sit amet."></textarea>

#{settings.$prefix}-input--inline-true - Enable inline

Style guide: #{settings.$prefix}-input.inline.builtin
*/
.#{settings.$prefix}-input--inline {
  &-true {
    --display: inline-block;
    --width: auto;
    --vertical-align: middle;
  }
}
