@use "sass:meta";
@use "sass:selector";
@use "../../lib/mixin";
@use "../../settings";

/*
Break

The break module.

Weight: -99

Style guide: #{settings.$prefix}-table-grid.break
*/

/*
Modifiers

The break modifiers.

Weight: -100

Markup: <div class="#{settings.$prefix}-table-grid  {{modifier_class}}">
  <div class="#{settings.$prefix}-table-grid__column">
    <!-- content -->
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="#{settings.$prefix}-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
    <!-- content -->
  </div>
  <div class="#{settings.$prefix}-table-grid__column">
    <!-- content -->
    <p class="#{settings.$prefix}-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- content -->
  </div>
</div>

#{settings.$prefix}-table-grid--break - Break column.
sm:#{settings.$prefix}-table-grid--break - Break column if viewport is `"sm"`.
not-sm:#{settings.$prefix}-table-grid--break - Break column if viewport is not `"sm"`.

Style guide: #{settings.$prefix}-table-grid.break.builtin
*/
.#{settings.$prefix}-table-grid--break {
  --display: block;
  --height: auto;
  --column-display: block;

  @each $bp, $query in settings.$breakpoints {
    @if meta.type-of($query) == "string" {
      $selector: selector.replace(
        #{&},
        #{&},
        ".#{$bp}\\:#{settings.$prefix}-table-grid--break "
      );

      @at-root {
        #{$selector} {
          @include mixin.media($query: $query) {
            --display: block;
            --height: auto;
            --column-display: block;
          }
        }
      }
    }
  }
}
