////
/// (c) hidoo | MIT License
/// @group Default settings
////

@forward "./builtin" as builtin-*;
@forward "./color" as color-*;
@forward "./font" as font-*;
@forward "./selector" as selector-*;
@forward "./util" as util-*;

/// Package name.
/// (default: `"su"`)
/// @type String
///
/// @example scss - scss inputs
///   $pkg: "s";
///
/// @example css - css outputs
///   :root {
///     --s-breakpoint-mobile: 667px;
///   }
///
$pkg: "su" !default;

/// Default prefix of unit class name.
/// (default: `"unit"`)
/// @type String
///
/// @example scss - scss inputs
///   $prefix: "u";
///
/// @example css - css outputs
///   .u-icon {
///     /* settings */
///   }
///
$prefix: "unit" !default;

/// Default breakpoints.
/// @type Map
/// @prop {Number} desktop [1024px] - Breakpoint width for desktop.
/// @prop {Number} mobile [667px] - Breakpoint width for mobile.
/// @prop {String} sm ["only screen and (width < $mobile)"] - Breakpoint name when mobile viewport.
/// @prop {String} not-sm ["only screen and ($mobile <= width)"] - Breakpoint name when not mobile viewport.
///
$breakpoints: (
  "desktop": 1024px,
  "mobile": 667px,

  // queries
  "sm": "only screen and (width < $mobile)",
  "not-sm": "only screen and ($mobile <= width)"
) !default;

/// Default line-height
/// (default: `1.5`)
/// @type Number
///
$line-height: 1.5 !default;

/// Default hyphens
/// (default: `auto`)
/// @type String
///
$hyphens: auto !default;

/// Default letter-spacing
/// (default: `0.04em`)
/// @type Number
///
$letter-spacing: 0.04em !default;

/// Default text-size-adjust
/// (default: `100%`)
/// @type Number
///
$text-size-adjust: 100% !default;

/// Default word-break
/// (default: `normal`)
/// @type String
///
$word-break: normal !default;

/// Default word-wrap
/// (default: `break-word`)
/// @type String
///
$word-wrap: break-word !default;

/// Default line-break
/// (default: `strict`)
/// @type String
///
$line-break: strict !default;

/// Default line-break
/// (default: `strict`)
/// @type String
///
$overflow-wrap: anywhere !default;

/// Default message on image error
/// (default: `Failed to load image.`)
/// @type String
///
$message-on-image-error: "Failed to load image." !default;

/// Default list of units that applying base settings.
/// @access private
/// @type List
///
$applying-units: (
  "icon",
  "text",
  "list",
  "pict",
  "button",
  "table",
  "document",
  "input",
  "toggle",
  "select",
  "box",
  "table-grid",
  "flex-grid"
) !default;

/// out warnings verbosely or not
/// @type Boolean
///
$verbose: false !default;
