////
/// (c) hidoo | MIT License
/// @group Default settings
////

/// Default prefix for utility class name.
/// (default: `"util"`)
/// @type String
///
/// @example scss - scss inputs
///   $util-prefix: "h";
///
/// @example css - css outputs
///   .h--width-0 {
///     /* settings */
///   }
///
$prefix: "util" !default;

/// Default width list.
/// @type List
///
$width: (0px, 1000px, ("normal", 100px)) !default;

/// Default height list.
/// @type List
///
$height: (0px, 1000px, ("normal", 100px)) !default;

/// Default margin list
/// @type List
///
$margin: (0, 50px, -50px, ("normal", 25px)) !default;

/// Default padding list
/// @type List
///
$padding: (0, 50px, ("normal", 25px)) !default;

/// Default border list
/// @type List
///
// prettier-ignore
$border: (("normal", (2px solid currentColor)), ) !default;

/// Default position list
/// @type List
///
$position: (0, 50px, -50px, ("normal", 25px)) !default;

/// Default direction list
/// @type List
///
$directions: ("", "top", "right", "bottom", "left", "block", "inline") !default;

/// Default z-index list
/// @type List
///
$z-index: (0, 50, ("normal", 25)) !default;
